body {
    background-color: #9a8a9c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(26, 26, 26, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
    line-height: 1.6;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fffefe;
}

select, input, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#qr {
    margin-top: 20px;
    justify-content:center ;
    
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 3rem;
}